.page__footer{
    padding: 50px 0;
}

.footer__container{
    border-bottom: 2px solid #99BAED;
}


.footer__logo{
    display: flex;
}

.footer__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 0 50px 0;
}

.footer__text{
    color: #153461;
    max-width: 400px;
    text-align: center;

}

.footer__social{
    display: flex;
    gap: 25px;
}

.social__item img{
    max-width: 57px;
    height: 57px;
}